<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/common :: head"></head>
<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>
<div id="container" class="account-container container">
    <div class="row mt-5">
        <th:block th:replace="parts/user-fragments :: account-sidebar"></th:block>
        <div class="col-md-9 mb-5">
            <th:block th:replace="parts/common :: info-title(text='Edit perfume', icon='fas fa-edit mr-2')"></th:block>
            <form method="post" action="/admin/edit/perfume" enctype="multipart/form-data">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Perfume title',
                            name='perfumeTitle',
                            value=(${perfume.getPerfumeTitle()}),
                            error=(${perfumeTitleError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Brand',
                            name='perfumer',
                            value=(${perfume.getPerfumer()}),
                            error=(${perfumerError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Release year',
                            name='year',
                            value=(${perfume.getYear()}),
                            error=(${yearError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Country',
                            name='country',
                            value=(${perfume.getCountry()}),
                            error=(${countryError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-select(
                            title='Perfume type',
                            name='type',
                            options=(${ {'Eau de Parfum', 'Eau de Toilette'} }),
                            value=(${perfume.getType()}),
                            error=(${typeError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Volume',
                            name='volume',
                            value=(${perfume.getVolume()}),
                            error=(${volumeError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-select(
                            title='Gender',
                            name='perfumeGender',
                            options=(${ {'male', 'female'} }),
                            value=(${perfume.getPerfumeGender()}),
                            error=(${perfumeGenderError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Top notes',
                            name='fragranceTopNotes',
                            value=(${perfume.getFragranceTopNotes()}),
                            error=(${fragranceTopNotesError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Heart notes',
                            name='fragranceMiddleNotes',
                            value=(${perfume.getFragranceMiddleNotes()}),
                            error=(${fragranceMiddleNotesError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Base notes',
                            name='fragranceBaseNotes',
                            value=(${perfume.getFragranceBaseNotes()}),
                            error=(${fragranceBaseNotesError})
                        )"></th:block>
                        <th:block th:replace="parts/user-fragments :: edit-perfume-input(
                            title='Price',
                            name='price',
                            value=(${perfume.getPrice()}),
                            error=(${priceError})
                        )"></th:block>
                    </div>
                    <div class="col-md-6">
                        <div th:if="${perfume.getFilename()}">
                            <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}"
                                 class="rounded mx-auto w-100 mb-2"/>
                        </div>
                        <input type="file" name="file"/>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${perfume.getId()}"/>
                <input type="hidden" name="filename" th:value="${perfume.getFilename()}"/>
                <th:block th:replace="parts/common :: icon-button(text='Edit', icon='fas fa-edit mr-2')"></th:block>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{parts/common :: footer}"></footer>
</body>
</html>
