<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="parts/common :: head"></head>

<body>

<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container">
<div class="container mt-5">

        <form method="get" action="/user/productlist">

            <table th:each="perfume : ${perfumes}">
                <div th:if="${perfume.getId() == 3}">

                    <div th:if="${perfume.getFilename()}">
                        <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}">
                    </div>

                    <tr>
                        <th align="left">Характеристика</th>
                        <th align="left">Описание</th>
                    </tr>
                    <tr><td>id:</td><td th:text="${perfume.getId()}"></td></tr>
                    <tr><td>Название парфюма:</td><td th:text="${perfume.getPerfumeTitle()}"></td></tr>
                    <tr><td>Парфюмер:</td><td th:text="${perfume.getPerfumer()}"></td></tr>
                    <tr><td>Год выпуска:</td><td th:text="${perfume.getYear()}"></td></tr>
                    <tr><td>Страна производитель: </td><td th:text="${perfume.getCountry()}"></td></tr>
                    <tr><td>Пол: </td><td th:text="${perfume.getPerfumeGender()}"></td></tr>
                    <tr><td>Верхние ноты: </td><td th:text="${perfume.getFragranceTopNotes()}"></td></tr>
                    <tr><td>Средние ноты: </td><td th:text="${perfume.getFragranceMiddleNotes()}"></td></tr>
                    <tr><td>Базовые ноты: </td><td th:text="${perfume.getFragranceBaseNotes()}"></td></tr>
                    <tr><td>Описание: </td><td th:text="${perfume.getDescription()}"></td></tr>

                    <a th:href="@{/user/productlist/{path} (path = ${perfume.getId()})}">edit</a>

<!--                    <form action="/user/productedit" method="get">-->
<!--                        <input type="submit" value="Редактировать"/>-->
<!--                    </form>-->

                </div>
            </table>
        </form>






</div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>
</body>
</html>