<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/common :: head"></head>
<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>
<div id="container" class="account-container container">
    <div class="row mt-5">
        <th:block th:replace="parts/user-fragments :: account-sidebar"></th:block>
        <div class="col-md-10 mb-5">
            <th:block th:replace="parts/common :: info-title(
                text='User: ' + ${user.getFirstName()} + ' ' + ${user.getLastName()},
                icon='fas fa-user-edit mr-2'
            )"></th:block>
            <div class="row mt-5 mb-4 border px-3 py-3">
                <div class="col-md-4">
                    <p class="personal_data_item">
                        User id:
                        <span class="personal_data_text" th:text="${user.getId()}"></span>
                    </p>
                    <p class="personal_data_item">
                        Email:
                        <span class="personal_data_text" th:text="${user.getEmail()}"></span>
                    </p>
                    <p class="personal_data_item">
                        Role:
                        <span class="personal_data_text" th:text="${user.getRoles().iterator().next()}"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="personal_data_item">
                        First name:
                        <span class="personal_data_text" th:text="${user.getFirstName()}"></span>
                    </p>
                    <p class="personal_data_item">
                        Last name:
                        <span class="personal_data_text" th:text="${user.getLastName()}"></span>
                    </p>
                    <p class="personal_data_item">
                        City:
                        <span class="personal_data_text" th:text="${user.getCity()}"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="personal_data_item">
                        Address:
                        <span class="personal_data_text" th:text="${user.getAddress()}"></span>
                    </p>
                    <p class="personal_data_item">
                        Phone number:
                        <span class="personal_data_text" th:text="${user.getPhoneNumber()}"></span>
                    </p>
                    <p class="personal_data_item">
                        Post index:
                        <span class="personal_data_text" th:text="${user.getPostIndex()}"></span>
                    </p>
                </div>
            </div>
            <th:block th:if="${orders.size() == 0}">
                <h5 class="text-center">
                    No orders
                </h5>
            </th:block>
            <th:block th:unless="${orders.size() == 0}">
                <h5 class="text-center">
                    Orders
                </h5>
                <table class="table border text-center">
                    <thead class="table-active">
                    <tr>
                        <th>Order №</th>
                        <th>Date</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Post index</th>
                        <th>Order Summary</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody th:each="order : ${orders}">
                    <tr>
                        <th th:text="${order.getId()}"></th>
                        <th th:text="${order.getDate()}"></th>
                        <th th:text="${order.getCity()}"></th>
                        <th th:text="${order.getAddress()}"></th>
                        <th th:text="${order.getPostIndex()}"></th>
                        <th th:text="'$' + ${order.getTotalPrice()} + '0'"></th>
                        <th>
                            <a th:href="@{/order/{orderId} (orderId = ${order.getId()})}">
                                Show more
                            </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
<footer th:insert="~{parts/common :: footer}"></footer>
</body>
</html>
