<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/parts/common :: head"></head>

<body>
<div th:insert="~{/parts/common :: scripts}"></div>
<div th:replace="/parts/common :: navbar"></div>

<div class="container">
    <div th:replace="parts/common :: userNavbar"></div>
</div>

<div class="container">

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:each="userRole : ${user.getRoles()}" th:text="${userRole}"></td>
                <td><a th:href="@{/user/{path} (path = ${user.getId()})}">edit</a></td>
            </tr>
            </tbody>
    </table>
</div>

<footer th:insert="~{/parts/common :: footer}"></footer>

</body>
</html>