<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/common :: head"></head>
<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>
<div class="account-container container">
    <div class="row mt-5">
        <th:block th:replace="parts/user-fragments :: account-sidebar"></th:block>
        <div class="col-md-10">
            <th:block th:replace="parts/common :: info-title(
                text='List of all users',
                icon='fas fa-users ml-2 mr-2'
            )"></th:block>
            <table class="table mt-4 border text-center">
                <thead class="table-active">
                <tr>
                    <th>id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:each="user : ${users}">
                <tr>
                    <th th:text="${user.getId()}"></th>
                    <th th:text="${user.getFirstName()}"></th>
                    <th th:text="${user.getLastName()}"></th>
                    <th th:text="${user.getEmail()}"></th>
                    <th th:text="${user.getRoles().iterator().next()}"></th>
                    <th>
                        <a th:href="@{/admin/user/{userId} (userId = ${user.getId()})}">
                            Show more
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:insert="~{parts/common :: footer}"></footer>
</body>
</html>
