/*@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');*/
/*html,*/
/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Quicksand", sans-serif;*/
/*    font-size: 62.5%;*/
/*    font-size: 10px;*/
/*}*/

body {
    height: 100%;
}

html {
    position:relative;
    min-height:100%;
}
#container {
    padding-bottom: 300px;/*Примерно 2 размера footer, чтобы он не наезжал на контент при узком окне браузера*/
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-black {
    background-color: black;
}

.col-md-7 p {
    color: #555;
}

.col-md-7 input {
    height: 33px;
    text-align: center;
    width: 40px;
}

/*!* Navbar section *!*/

/*.nav {*/
/*    width: 100%;*/
/*    height: 65px;*/
/*    position: fixed;*/
/*    line-height: 65px;*/
/*    text-align: center;*/
/*}*/

/*.nav div.logo {*/
/*    float: left;*/
/*    width: auto;*/
/*    height: auto;*/
/*    padding-left: 3rem;*/
/*}*/

/*.nav div.logo a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    font-size: 2.5rem;*/
/*}*/

/*.nav div.logo a:hover {*/
/*    color: #00E676;*/
/*}*/

/*.nav div.main_list {*/
/*    height: 65px;*/
/*    float: right;*/
/*}*/

/*.nav div.main_list ul {*/
/*    width: 100%;*/
/*    height: 65px;*/
/*    display: flex;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.nav div.main_list ul li {*/
/*    width: auto;*/
/*    height: 65px;*/
/*    padding: 0;*/
/*    padding-right: 3rem;*/
/*}*/

/*.nav div.main_list ul li a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    line-height: 65px;*/
/*    font-size: 2.4rem;*/
/*}*/

/*.nav div.main_list ul li a:hover {*/
/*    color: #00E676;*/
/*}*/