/*html,
body {
    height: 100%;
}

#container {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}

.bg-black {
    background-color: black;
}

.col-md-7 p {
    color: #555;
}

.col-md-7 input {
    height: 33px;
    text-align: center;
    width: 40px;
}*/



/*========================================================================================================================*/

body {
    height: 100%;
}

html {
    position:relative;
    min-height:100%;
}
#container {
    padding-bottom: 600px;/*Примерно 2 размера footer, чтобы он не наезжал на контент при узком окне браузера*/
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-black {
    background-color: black;
}

.col-md-7 p {
    color: #555;
}

.col-md-7 input {
    height: 33px;
    text-align: center;
    width: 40px;
}


/*========================================================================================================================*/

/* SIDEBAR */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#homeSubmenu2 {
    overflow-y: scroll !important;
    max-height: 250px !important;
}


#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#sidebar ul p{
    list-style-type: none;
    padding: 10px;
}

#sidebar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #7386D5;
    background-color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*color: #fff;*/
    /*background-color: #6d7fcc;*/
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
}

#container {

}
