<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-9 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='Add perfume',
                        icon='fas fa-plus-square mr-2'
                    )"/>
                    <br/>
                    <form method="post" action="/admin/add/perfume" enctype="multipart/form-data">
                        <div class="form row">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Perfume title',
                                name='perfumeTitle',
                                placeholder='Enter the perfume title',
                                value=(${perfume} ? ${perfume.perfumeTitle} : ''),
                                error=(${perfumeTitleError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Brand',
                                name='perfumer',
                                placeholder='Enter the brand',
                                value=(${perfume} ? ${perfume.perfumer} : ''),
                                error=(${perfumerError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Release year',
                                name='year',
                                placeholder='Enter the release year',
                                value=(${perfume} ? ${perfume.year} : ''),
                                error=(${yearError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Manufacturer country',
                                name='country',
                                placeholder='Manufacturer country',
                                value=(${perfume} ? ${perfume.country} : ''),
                                error=(${countryError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-select(
                                title='Perfume type',
                                name='type',
                                options=(${ {'Eau de Parfum', 'Eau de Toilette'} }),
                                error=(${typeError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Volume',
                                name='volume',
                                placeholder='Enter the volume',
                                value=(${perfume} ? ${perfume.volume} : ''),
                                error=(${volumeError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-select(
                                title='Gender',
                                name='perfumeGender',
                                options=(${ {'male', 'female'} }),
                                error=(${perfumeGenderError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Top notes',
                                name='fragranceTopNotes',
                                placeholder='Enter the top notes',
                                value=(${perfume} ? ${perfume.fragranceTopNotes} : ''),
                                error=(${fragranceTopNotesError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Heart notes',
                                name='fragranceMiddleNotes',
                                placeholder='Enter the heart notes',
                                value=(${perfume} ? ${perfume.fragranceMiddleNotes} : ''),
                                error=(${fragranceMiddleNotesError})
                            )"/>
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Base notes',
                                name='fragranceBaseNotes',
                                placeholder='Enter the base notes',
                                value=(${perfume} ? ${perfume.fragranceBaseNotes} : ''),
                                error=(${fragranceBaseNotesError})
                            )"/>
                        </div>
                        <div class="form row mt-3">
                            <th:block th:replace="fragments/account-fragments :: add-perfume-input(
                                title='Price',
                                name='price',
                                placeholder='Enter the price',
                                value=(${perfume} ? ${perfume.price} : ''),
                                error=(${priceError})
                            )"/>
                            <div class="col" style="margin-top: 35px">
                                <input type="file" name="file"/>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: icon-button(
                            text='Add',
                            buttonClassName='mt-3',
                            icon='fas fa-plus-square mr-2'
                        )"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
