<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10 mb-5">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='User: ' + ${user.getFirstName()} + ' ' + ${user.getLastName()},
                        icon='fas fa-user-edit mr-2'
                    )"/>
                    <div class="row mt-5 mb-4 border px-3 py-3">
                        <div class="col-md-4">
                            <th:block th:replace="fragments/common-fragments :: data-item(title='User id', text=${user.getId()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Email', text=${user.getEmail()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Role', text=${user.getRoles().iterator().next()})" />
                        </div>
                        <div class="col-md-4">
                            <th:block th:replace="fragments/common-fragments :: data-item(title='First name', text=${user.getFirstName()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Last name', text=${user.getLastName()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='City', text=${user.getCity()})" />
                        </div>
                        <div class="col-md-4">
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Address', text=${user.getAddress()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Phone number', text=${user.getPhoneNumber()})" />
                            <th:block th:replace="fragments/common-fragments :: data-item(title='Post index', text=${user.getPostIndex()})" />
                        </div>
                    </div>
                    <th:block th:if="${page.getContent().size() == 0}">
                        <h5 class="text-center">
                            No orders
                        </h5>
                    </th:block>
                    <th:block th:unless="${page.getContent().size() == 0}">
                        <h5 class="text-center">
                            Orders
                        </h5>
                        <table class="table border text-center">
                            <thead class="table-active">
                            <tr>
                                <th>Order №</th>
                                <th>Date</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Post index</th>
                                <th>Order Summary</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="order : ${page.getContent()}">
                            <tr>
                                <th th:text="${order.getId()}"></th>
                                <th th:text="${#temporals.format(order.getDate(), 'yyyy-MM-dd HH:mm')}"></th>
                                <th th:text="${order.getCity()}"></th>
                                <th th:text="${order.getAddress()}"></th>
                                <th th:text="${order.getPostIndex()}"></th>
                                <th th:text="'$' + ${order.getTotalPrice()} + '0'"></th>
                                <th>
                                    <a th:href="@{/admin/order/{orderId} (orderId = ${order.getId()})}">
                                        Show more
                                    </a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
