<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='List of all users',
                        icon='fas fa-users ml-2 mr-2'
                    )"/>
                    <form class="my-3" action="/admin/users/search" method="get" style="justify-content: center">
                        <div th:replace="~{fragments/common-fragments :: search(
                            options=(${ {
                                { value: 'email', text: 'Email' },
                                { value: 'firstName', text: 'First Name' },
                                { value: 'lastName', text: 'Last Name' }
                            } })
                        )}"></div>
                    </form>
                    <div th:insert="~{fragments/common-fragments :: pagination}"></div>
                    <th:block th:if="${page.getContent().size() == 0}"
                              th:insert="~{fragments/common-fragments :: empty-result(text='Users not found')}"/>
                    <table th:unless="${page.getContent().size() == 0}" class="table mt-4 border text-center">
                        <thead class="table-active">
                        <tr>
                            <th>id</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>E-mail</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="user : ${page.getContent()}">
                        <tr>
                            <th th:text="${user.getId()}"></th>
                            <th th:text="${user.getFirstName()}"></th>
                            <th th:text="${user.getLastName()}"></th>
                            <th th:text="${user.getEmail()}"></th>
                            <th th:text="${user.getRoles().iterator().next()}"></th>
                            <th>
                                <a th:href="@{/admin/user/{userId} (userId = ${user.getId()})}">
                                    Show more
                                </a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <div th:unless="${page.getContent().size() == 0}"
                         th:insert="~{fragments/common-fragments :: pagination}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
