<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head"></head>

<body>
<div th:insert="~{fragments/common :: scripts}"></div>
<div th:replace="fragments/common :: navbar"></div>

<div id="container" class="container mt-5">
    <h5>
        <i class="fas fa-info-circle mr-2"></i>
        Contacts
    </h5>
    <br>
    <p><b>Mobile:</b> (066) 573-89-96<br/>
        <b>E-mail:</b> merikbest2015@gmail.com</p>
    <br>
    <h6>Working time</h6>
    <p>
        The online store is open from 08:00 to 20:00 without breaks and weekends. <br/>
        Online orders are accepted around the clock.
    </p>
    <br>
    <h6>Delivery</h6>
    <p>Delivery of orders come through courier service.</p>
</div>
<footer th:insert="~{fragments/common :: footer}"></footer>
</body>
</html>