<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<body>
<div th:insert="~{fragments/common :: scripts}"></div>
<div th:replace="fragments/common :: navbar"></div>
<div class="account-container container">
    <div class="row mt-5">
        <div class="container mb-5">
            <h2 class="text-center mb-5">
                <i class="fas fa-fire-extinguisher"></i>
                <i class="fas fa-fire"></i>
                Internal server error
            </h2>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common :: footer}"></footer>
</body>
</html>
