<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>

<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div class="container mt-5">
    <div class="container-fluid mt-5">
        <div class="row" th:fragment="list">
            <div class="col-lg-3 d-flex align-items-stretch" th:each="perfume :  ${perfumes}">
                <div class="card mb-5" th:if="${perfume.getFilename()}">
                    <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}" class="rounded mx-auto w-50">
                    <div class="card-body text-center">
                        <h5 th:text="${perfume.getPerfumeTitle()}"></h5>
                        <h6 th:text="${perfume.getPerfumer()}"></h6>
                        <h6><span th:text="${perfume.getPrice()}"></span>,00 грн.</h6>
                    </div>
                    <div class="text-center align-items-end mb-3">
                        <a th:href="@{/product/{path} (path = ${perfume.getId()})}" class="btn btn-dark">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>
