<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a th:href="@{/perfume/85}">
                    <img class="d-block w-100" src="https://i.ibb.co/dkpHPXQ/1million-ENG.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a th:href="@{/perfume/46}">
                    <img class="d-block w-100" src="https://i.ibb.co/C0vbNcy/dior-ENG.jpg" alt="Second slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container text-center my-3 mt-5">
        <h3>BRANDS</h3>
        <div id="perfumerCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row active">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Tom Ford', src='https://i.ibb.co/s9MpxnG/o-139.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Prada', src='https://i.ibb.co/2Y5Lsvy/o-143.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Dior', src='https://i.ibb.co/wCkG15S/o-160.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Versace', src='https://i.ibb.co/0mFhYdV/o-97.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Chanel', src='https://i.ibb.co/QrNd9DL/o-30.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Dolce&Gabbana', src='https://i.ibb.co/Sycbcbv/o-56.jpg')"/>
                </div>
                <div class="carousel-item row">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Gucci', src='https://i.ibb.co/z6gQzvg/o-67.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Givenchy', src='https://i.ibb.co/0hT49zf/o-66.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Creed', src='https://i.ibb.co/yR1mZP4/o-50.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Jean Paul Gaultier', src='https://i.ibb.co/tHFz6W2/o-72.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Paco Rabanne', src='https://i.ibb.co/k440VSk/o-88.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Giorgio Armani', src='https://i.ibb.co/qkkBXBT/o-65.jpg')"/>
                </div>
                <div class="carousel-item row">
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Bvlgari', src='https://i.ibb.co/58FfNSb/o-14.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Calvin Klein', src='https://i.ibb.co/98r6KXm/o-18.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Hermes', src='https://i.ibb.co/jL0gNjg/o-69.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Hugo Boss', src='https://i.ibb.co/RgY9GLG/o-70.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Lancome', src='https://i.ibb.co/Jkzsj7v/o-80.jpg')"/>
                    <th:block th:replace="fragments/perfumes-fragments :: perfumer-item(perfumer='Burberry', src='https://i.ibb.co/MRrJCgQ/o-104.jpg')"/>
                </div>
            </div>
            <th:block th:replace="fragments/common-fragments :: carousel-indicators('#perfumerCarousel')"/>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-5">
                    <a th:href="${'/perfume?genders=female'}">
                        <img class="img-fluid" src="https://i.ibb.co/jMmJs60/Them-Woman-ENG.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-5">
                    <a th:href="${'/perfume?genders=male'}">
                        <img class="img-fluid" src="https://i.ibb.co/mJGKz8c/Them-Man-ENG.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center my-3">
        <h4>PERSONALLY RECOMMENDED</h4>
    </div>
    <div class="container mt-5">
        <form method="get" action="/perfume/popular">
            <div class="row">
                <div class="col-sm-12">
                    <div id="perfumeCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[0]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[1]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[2]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[3]})"/>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[4]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[5]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[6]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[7]})"/>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row" th:fragment="list">
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[8]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[9]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[10]})"/>
                                        <th:block th:replace="fragments/perfumes-fragments :: perfume-item(${perfumes[11]})"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:replace="fragments/common-fragments :: carousel-indicators('#perfumeCarousel')"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
