<html>
<head>
</head>
<body>
    <input type="button" value="на главную" onClick='location.href="/"'>
    <h3>Список духов</h3>
    {{#perfumes}}
    <table>
        <tr>
            <th align="left">Характеристика</th>
            <th align="left">Описание</th>
        </tr>
        <tr><td>id:</td><td>{{id}}</td></tr>
        <tr><td>Название парфюма:</td><td>{{perfumeTitle}}</td></tr>
        <tr><td>Парфюмер:</td><td>{{perfumer}}</td></tr>
        <tr><td>Год выпуска:</td><td>{{year}}</td></tr>
        <tr><td>Страна производитель: </td><td>{{country}}</td></tr>
        <tr><td>Пол: </td><td>{{perfumeGender}}</td></tr>
        <tr><td>Верхние ноты: </td><td>{{fragranceTopNotes}}</td></tr>
        <tr><td>Средние ноты: </td><td>{{fragranceMiddleNotes}}</td></tr>
        <tr><td>Базовые ноты: </td><td>{{fragranceBaseNotes}}</td></tr>
        <tr><td>Описание: </td><td>{{description}}</td></tr>
    </table>
    {{/perfumes}}
</body>
</html>