<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container">
<div class="container slider mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="https://i.pinimg.com/originals/a6/51/85/a65185f3621017135eb2486774849dcc.jpg"
                     alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="mx-auto mb-5" style="width: 200px;">
    <h4>Новинки</h4>
</div>
<!--th:value="${perfumes.setId(3)}"-->
    <div class="container">
        <form method="get" action="/">
<!--            <p th:id="${3}" th:text="${perfume.getId()}"></p>-->

            <table th:each="perfume : ${perfumes}">
                <div th:if="${perfume.getId() == 3}">

                <div th:if="${perfume.getFilename()}">
                    <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}">
                </div>

                <tr>
                    <th align="left">Характеристика</th>
                    <th align="left">Описание</th>
                </tr>
                <tr><td>id:</td><td th:text="${perfume.getId()}"></td></tr>
                <tr><td>Название парфюма:</td><td th:text="${perfume.getPerfumeTitle()}"></td></tr>
                <tr><td>Парфюмер:</td><td th:text="${perfume.getPerfumer()}"></td></tr>
                <tr><td>Год выпуска:</td><td th:text="${perfume.getYear()}"></td></tr>
                <tr><td>Страна производитель: </td><td th:text="${perfume.getCountry()}"></td></tr>
                <tr><td>Пол: </td><td th:text="${perfume.getPerfumeGender()}"></td></tr>
                <tr><td>Верхние ноты: </td><td th:text="${perfume.getFragranceTopNotes()}"></td></tr>
                <tr><td>Средние ноты: </td><td th:text="${perfume.getFragranceMiddleNotes()}"></td></tr>
                <tr><td>Базовые ноты: </td><td th:text="${perfume.getFragranceBaseNotes()}"></td></tr>
                <tr><td>Описание: </td><td th:text="${perfume.getDescription()}"></td></tr>
                </div>
            </table>
        </form>
    </div>



<div class="container mb-5">
    <div class="card-deck">
        <div class="card text-center">
            <img class="card-img-top" src="/img/paco_rabanne_3349668509416_images_16539042248.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paco Rabanne 1 Million</h5>
                <p class="card-text">1132 грн.</p>
                <a href="#" class="card-link">Купить</a>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="/img/668197926_w640_h640_parfyumirovannaya-voda-creed.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Creed Aventus</h5>
                <p class="card-text">4900 грн.</p>
                <a href="#" class="card-link">Купить</a>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="/img/versace_img454_images_15990371251.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Versace Crystal Noir</h5>
                <p class="card-text">1297 грн.</p>
                <a href="#" class="card-link">Купить</a>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>