<html>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <form method="post" action="filter">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="text" name="filter">
                <button type="submit">Найти</button>
                <input type="button" value="Показать список товаров" onClick='location.href="/list"'>
                <input type="button" value="Добвить товары" onClick='location.href="/add"'>
            </form>
        </div>
    </body>
</html>