<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{parts/head :: head}"></head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>

<div class="container slider mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="https://i.pinimg.com/originals/a6/51/85/a65185f3621017135eb2486774849dcc.jpg"
                     alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="mx-auto mb-5" style="width: 200px;">
    <h4>Новинки</h4>
</div>

<div class="container mb-5">
    <div class="card-deck">
        <div class="card text-center">
            <img class="card-img-top" src="/img/paco_rabanne_3349668509416_images_16539042248.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paco Rabanne 1 Million</h5>
                <p class="card-text">1132 грн.</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="/img/668197926_w640_h640_parfyumirovannaya-voda-creed.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" >Creed Aventus</h5>
                <p class="card-text" >4900 грн.</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top" src="/img/versace_img454_images_15990371251.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Versace Crystal Noir</h5>
                <p class="card-text">1297 грн.</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>