<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>



    <div class="container">
        <div class="d-flex">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Bootstrap slider</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>The providers</p>

                    <li class="active">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Цена</a>
                        <ul class="collapse list-unsyled" id="homeSubmenu1">
                            <li>
                                <a href="#">Тут будет ценовой диапазон</a>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Бренд</a>
                        <ul class="collapse list-unsyled" id="homeSubmenu2">
                            <li>
                                <a href="#">Тут будут бренды</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Для мужчин</a>
                    </li>

                    <li>
                        <a href="#">Для женщин</a>
                    </li>

                </ul>
            </nav>



<!--            <div class="col-lg-3 mt-5 mr-5">-->
<!--                <h5>Парфюмерия</h5>-->

<!--                <div class="list-group list-group-flush">-->
<!--                    <a href="#" class="list-group-item list-group-item-action">Цена</a>-->
<!--                    <a href="#" class="list-group-item list-group-item-action">Бренд</a>-->
<!--                    <a href="#" class="list-group-item list-group-item-action">Для мужчин</a>-->
<!--                    <a href="#" class="list-group-item list-group-item-action">Для женщин</a>-->
<!--                </div>-->
<!--            </div>-->


            <div class="container-fluid mt-5">
                <form method="get" action="/menu" >
                    <div class="row">

                        <div class="col-lg-4" >
                            <div class="card" th:if="${perfumes[0].getFilename()}">
                                <img th:src="@{/img/{path} (path = ${perfumes[0].getFilename()})}" class="rounded mx-auto w-50">
                                <div class="card-body text-center">
                                    <h5 th:text="${perfumes[0].getPerfumeTitle()}"></h5>
                                    <h6 th:text="${perfumes[0].getPerfumer()}"></h6>
                                    <h6><span th:text="${perfumes[0].getPrice()}"></span>,00 грн.</h6>
                                    <a th:href="@{/product/{path} (path = ${perfumes[0].getId()})}" class="btn btn-dark">Купить</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" >
                            <div class="card" th:if="${perfumes[0].getFilename()}">
                                <img th:src="@{/img/{path} (path = ${perfumes[0].getFilename()})}" class="rounded mx-auto w-50">
                                <div class="card-body text-center">
                                    <h5 th:text="${perfumes[0].getPerfumeTitle()}"></h5>
                                    <h6 th:text="${perfumes[0].getPerfumer()}"></h6>
                                    <h6><span th:text="${perfumes[0].getPrice()}"></span>,00 грн.</h6>
                                    <a th:href="@{/product/{path} (path = ${perfumes[0].getId()})}" class="btn btn-dark">Купить</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" >
                            <div class="card" th:if="${perfumes[0].getFilename()}">
                                <img th:src="@{/img/{path} (path = ${perfumes[0].getFilename()})}" class="rounded mx-auto w-50">
                                <div class="card-body text-center">
                                    <h5 th:text="${perfumes[0].getPerfumeTitle()}"></h5>
                                    <h6 th:text="${perfumes[0].getPerfumer()}"></h6>
                                    <h6><span th:text="${perfumes[0].getPrice()}"></span>,00 грн.</h6>
                                    <a th:href="@{/product/{path} (path = ${perfumes[0].getId()})}" class="btn btn-dark">Купить</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>










<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>