<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>



<div id="container">
    <div class="container">
        <div class="d-flex">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Парфюмерия</h3>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Цена</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu1" >
                            <li>
                                <a href="#">Тут будет ценовой диапазон</a>
                            </li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Бренд</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu2">
<!--                            <div class="custom-control custom-checkbox">-->
<!--                                <input type="checkbox" name="perfumers" class="custom-control-input" id="customCheck1" />-->
<!--                                <label class="custom-control-label" for="customCheck1">Boss</label>-->
<!--                            </div>-->
                            <li>
                                <div class="custom-control custom-checkbox checkbox-black ml-3">
                                    <input type="checkbox" name="perfumers" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">Boss</label>
                                </div>
                            </li>
                            <li><a href="#">Boss</a></li>
                            <li><a href="#">Burberry</a></li>
                            <li><a href="#">Bvlgari</a></li>
                            <li><a href="#">Calvin Klein</a></li>
                            <li><a href="#">Carolina Herrera</a></li>
                            <li><a href="#">Channel</a></li>
                            <li><a href="#">Creed</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Dolce & Gabbana</a></li>
                            <li><a href="#">Este Lauder</a></li>
                            <li><a href="#">Giorgio Armani</a></li>
                            <li><a href="#">Givency</a></li>
                            <li><a href="#">Gucci</a></li>
                            <li><a href="#">Guerlain</a></li>
                            <li><a href="#">Hermes</a></li>
                            <li><a href="#">Jean Paul Gaultier</a></li>
                            <li><a href="#">Lancom</a></li>
                            <li><a href="#">Nina Ricci</a></li>
                            <li><a href="#">Paco Rabanne</a></li>
                            <li><a href="#">Prada</a></li>
                            <li><a href="#">Ralph Lauren</a></li>
                            <li><a href="#">Tom Ford</a></li>
                            <li><a href="#">Valentino</a></li>
                            <li><a href="#">Versace</a></li>
                            <li><a href="#">Victoria`s Secret</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Для мужчин</a>
                    </li>

                    <li>
                        <a href="#">Для женщин</a>
                    </li>

                </ul>
            </nav>

            <div class="row mt-5 ml-5">
<!--                <div th:replace="parts/common :: pagination"></div>-->
                <div th:insert="~{parts/common :: pagination}"></div>

<!--                <form method="get" action="/menu/{perfumer}">-->
                    <div class="container-fluid mt-5">
                        <div class="row" th:fragment="list">
                            <div class="col-lg-3 d-flex align-items-stretch" th:each="perfume : ${page.getContent()}">
                                <div class="card mb-5" th:if="${perfume.getFilename()}">
                                    <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}" class="rounded mx-auto w-50">
                                    <div class="card-body text-center">
                                        <h5 th:text="${perfume.getPerfumeTitle()}"></h5>
                                        <h6 th:text="${perfume.getPerfumer()}"></h6>
                                        <h6><span th:text="${perfume.getPrice()}"></span>,00 грн.</h6>
                                        <a th:href="@{/product/{path} (path = ${perfume.getId()})}" class="btn btn-dark">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </form>-->

<!--                <form method="get" action="/menu/gender/{gender}">-->
<!--                    <div class="container-fluid mt-5">-->
<!--                        <div class="row" th:fragment="list">-->
<!--                            <div class="col-lg-3 d-flex align-items-stretch" th:each="perfume : ${page.getContent()}">-->
<!--                                <div class="card mb-5" th:if="${perfume.getFilename()}">-->
<!--                                    <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}" class="rounded mx-auto w-50">-->
<!--                                    <div class="card-body text-center">-->
<!--                                        <h5 th:text="${perfume.getPerfumeTitle()}"></h5>-->
<!--                                        <h6 th:text="${perfume.getPerfumer()}"></h6>-->
<!--                                        <h6><span th:text="${perfume.getPrice()}"></span>,00 грн.</h6>-->
<!--                                        <a th:href="@{/product/{path} (path = ${perfume.getId()})}" class="btn btn-dark">Купить</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->

            </div>

        </div>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>