<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="account-container container">
    <div class="row mt-5">
        <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
        <div class="col-md-10">
            <th:block th:replace="fragments/common-fragments :: info-title(
                text='List of all orders',
                icon='fas fa-shopping-bag ml-2 mr-2'
            )"/>
            <form class="my-3" action="/admin/orders/search" method="get" style="justify-content: center">
                <div th:replace="~{fragments/common-fragments :: search(
                    options=(${ {
                        { value: 'email', text: 'Email' },
                        { value: 'firstName', text: 'First Name' },
                        { value: 'lastName', text: 'Last Name' }
                    } })
                )}"></div>
            </form>
            <div th:insert="~{fragments/common-fragments :: pagination}"></div>
            <table class="table mt-4 border text-center">
                <thead class="table-active">
                <tr>
                    <th>Order №</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Sum, $</th>
                    <th></th>
                </tr>
                <tbody th:each="order : ${page.getContent()}">
                <tr>
                    <th th:text="${order.getId()}"></th>
                    <th th:text="${order.getDate()}"></th>
                    <th th:text="${order.getFirstName() + ' ' + order.getLastName()}"></th>
                    <th th:text="${order.getEmail()}"></th>
                    <th th:text="'$' + ${order.getTotalPrice()} + '0'"></th>
                    <th>
                        <a th:href="@{/order/{orderId} (orderId = ${order.getId()})}">
                            Show more
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
            <div th:insert="~{fragments/common-fragments :: pagination}"></div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
