<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<body>
<div th:insert="~{fragments/common :: scripts}"></div>
<div th:replace="fragments/common :: navbar"></div>
<div id="container">
    <div class="container text-center mt-5">
        <h2>Thank you for the order!</h2>
        <p>Your order number is: <span th:text="${orderId}"></span></p>
    </div>
</div>
<footer th:insert="~{fragments/common :: footer}"></footer>
</body>
</html>
