<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-1 bg-white shadow-sm card-height">
            <form method="post" action="/auth/reset">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mr-3">
                                <i class="fas fa-sync mr-2"></i>
                                RESET PASSWORD
                            </h4>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Password: </label>
                                <i class="fas fa-lock" style="position: relative; top: 8px"></i>
                                <div class="col-sm-7">
                                    <input type="password" name="password" class="form-control"
                                           th:classappend="${passwordError} ? ' is-invalid'"/>
                                    <div th:if="${passwordError}" class="invalid-feedback"
                                         th:text="${passwordError}"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Confirm password: </label>
                                <i class="fas fa-lock" style="position: relative; top: 8px"></i>
                                <div class="col-sm-7">
                                    <input type="password" name="password2" class="form-control"
                                           th:classappend="${password2Error} ? ' is-invalid'"/>
                                    <div th:if="${password2Error}" class="invalid-feedback"
                                         th:text="${password2Error}"></div>
                                </div>
                            </div>
                            <input type="hidden" name="email" th:value="${email}"/>
                            <th:block th:replace="fragments/common-fragments :: icon-button(
                                text='Reset',
                                icon='fas fa-undo mr-3'
                            )"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
