<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<body>
<div th:insert="~{fragments/common :: scripts}"></div>
<div th:replace="fragments/common :: navbar"></div>
<div id="container" class="account-container container">
    <div class="row mt-5">
        <th:block th:replace="fragments/account-fragments :: account-sidebar"></th:block>
        <div class="col-md-10">
            <th:block th:replace="fragments/common :: info-title(
                text='Change Password',
                icon='fas fa-lock mr-2'
            )"></th:block>
            <div th:if="${success}" class="alert " th:classappend=" alert-success" th:text="${success}"
                 role="alert"></div>
            <form action="/user/change/password" method="post">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">
                        Enter a new password:
                    </label>
                    <div class="col-sm-4">
                        <input type="password" name="password" class="form-control"
                               th:classappend="${passwordError} ? ' is-invalid'"/>
                        <div th:if="${passwordError}" class="invalid-feedback" th:text="${passwordError}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">
                        Confirm password:
                    </label>
                    <div class="col-sm-4">
                        <input type="password" name="password2" class="form-control"
                               th:classappend="${password2Error} ? ' is-invalid'"/>
                        <div th:if="${password2Error}" class="invalid-feedback" th:text="${password2Error}"></div>
                    </div>
                </div>
                <th:block th:replace="fragments/common :: icon-button(
                        text='Change',
                        icon='fas fa-undo mr-3'
                    )"></th:block>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common :: footer}"></footer>
</body>
</html>
