<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <h4 class="text-center">
                        Hello <span th:text="${user.getFirstName()}"></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
