<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer p-5 bg-dark text-white">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="footer-left">
                <h3>Perfume</h3>
                <p>(066) 573-89-96</p>
                <br>
                <p>c 08:00 до 20:00 без перерыва и выходных</p>
            </div>
            <div class="footer-right">
                <h3>Мы в соцсетях</h3>
                <a href="#"><i class="fab fa-facebook-f fa-2x mr-3" style="color:white"></i></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x mr-3" style="color:white"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x mr-3" style="color:white"></i></a>
            </div>
        </div>
        <div class="mx-auto" style="width: 200px;">
            <p>© Copy right merikbest</p>
        </div>
    </div>
</footer>
</html>
