<th:block th:fragment="account-sidebar" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="col-md-2">
        <h4>
            <i class="fas fa-user-edit mr-1"></i>
            Account
        </h4>
        <a class="account-sidebar-link nav-link" href="/user/info">Personal data</a>
        <a class="account-sidebar-link nav-link" href="/auth/reset">Change password</a>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <a class="account-sidebar-link nav-link" href="/admin/add/perfume">Add perfume</a>
            <a class="account-sidebar-link nav-link" href="/admin/perfumes">List of perfumes</a>
            <a class="account-sidebar-link nav-link" href="/order/all/orders">List of all orders</a>
            <a class="account-sidebar-link nav-link" href="/admin/users">List of all users</a>
        </th:block>
        <th:block sec:authorize="hasAuthority('USER')">
            <a class="account-sidebar-link nav-link" href="/order/user/orders">List of orders</a>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="edit-perfume-input">
    <div class="form-group row">
        <label class="col-sm-4 font-weight-bold col-form-label" th:text="${title} + ':'"></label>
        <div class="col-sm-8">
            <input
                    type="text"
                    th:name="${name}"
                    th:value="${value}"
                    class="form-control" th:classappend="${error} ? ' is-invalid'"
            />
            <div th:if="${error}" class="invalid-feedback" th:text="${error}"></div>
        </div>
    </div>
</th:block>

<th:block th:fragment="edit-perfume-select">
    <div class="form-group row">
        <label class="col-sm-4 font-weight-bold col-form-label" th:text="${title} + ':'"></label>
        <div class="col-sm-8">
            <select th:name="${name}" class="form-control" th:classappend="${error} ? ' is-invalid'">
                <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                        th:selected="${value == option}"></option>
            </select>
            <div th:if="${error}" class="invalid-feedback" th:text="${error}"></div>
        </div>
    </div>
</th:block>

<th:block th:fragment="add-perfume-input">
    <div class="col">
        <label th:text="${title} + ':'"></label>
        <input
                type="text"
                th:name="${name}"
                th:placeholder="${placeholder}"
                th:value="${value}"
                class="form-control" th:classappend="${error} ? ' is-invalid'"
        />
        <div th:if="${error}" class="invalid-feedback" th:text="${error}"></div>
    </div>
</th:block>

<th:block th:fragment="add-perfume-select">
    <div class="col">
        <label th:text="${title} + ':'"></label>
        <select th:name="${name}" class="form-control" th:classappend="${error} ? ' is-invalid'">
            <option hidden value=""></option>
            <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
        </select>
        <div th:if="${error}" class="invalid-feedback" th:text="${error}"></div>
    </div>
</th:block>

